---
eleventyExcludeFromCollections: true
permalink: /robots.txt
---
User-agent: *
Allow: /
Disallow: /staff/
{% if noindex %}Disallow: /
{% else %}Host: {{ siteUrl }}
{% endif %}
Sitemap: {{ siteUrl }}/sitemap.xml